/* tablet */
@media (min-width: 768px) {
  header {
    padding-bottom: 6.4rem;
  }
  .intro {
    width: 112%;
  }
  .intro-images-part div {
    margin-bottom: 32px;
    width: 110px;
  }

  .p-top {
    padding-top: 32px;
  }
  .intro-text {
    padding: 0px 195px;
  }
  .intro-text .intro-text-title {
    font-size: 4.8rem;
    line-height: 4.8rem;
    margin-top: 4.4rem;
  }
  .intro-text .intro-text-desc {
    width: 457px;
  }
  .intro-text .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15.3rem;
  }

  .intro-text .download-button {
    margin: 0;
  }
  .intro-text .question-button {
    margin-left: 1.6rem;
    margin-bottom: 0;
  }
  .intro-text .numberCircle {
    margin-bottom: 6.7rem;
  }
  .middle-images {
    padding: 0 4rem;
  }
  figure {
    margin-bottom: 0;
  }
  figure img {
    flex: 1 0 calc(25% - 3.3rem);
    width: calc(25% - 3.3rem);
    margin-right: 1.1rem;
    margin-bottom: 0;
  }
  figure img:nth-of-type(2) {
    margin-right: 1.1rem;
  }

  .middle-desc .subtitle {
    margin-bottom: 1.6rem;
  }
  .middle-desc .middle-desc-title {
    font-size: 4rem;
    line-height: 4.4rem;
  }
  .middle-desc .middle-desc-text {
    font-size: 1.6rem;
    width: 573px;
    margin: 0 auto 12rem;
  }

  footer {
    padding: 9.2rem 9.8rem 6.6rem;
    background-image: linear-gradient(
        to bottom,
        rgba(77, 150, 168, 0.8),
        rgba(77, 150, 168, 0.8)
      ),
      url("images/tablet/image-footer.jpg");
  }

  footer .footer-title {
    font-size: 4rem;
    line-height: 4.4rem;
    margin-bottom: 3.2rem;
  }
  footer .footer-text {
    margin-bottom: 4rem;
  }
}

/* desktop */
@media (min-width: 1024px) {
  header {
    padding: 8rem 0 10.8rem;
  }
  .container {
    max-width: 900px;
    margin: 0 auto;
  }
  .intro {
    width: 140%;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .intro img {
    width: unset;
  }

  .intro-images {
    flex-grow: 0;
  }

  .intro .intro-text-title {
    font-size: 6.4rem;
    line-height: 6.4rem;
  }
  .intro .intro-text-desc {
    font-size: 1.8rem;
  }

  .intro-images-part div {
    margin-bottom: 32px;
    width: 134px;
  }

  .p-top {
    padding-top: 45px;
  }

  .intro-images-1 {
    order: 1;
  }

  .intro-images-2 {
    order: 3;
  }

  .intro-text {
    text-align: center;
    width: 540px;
    order: 2;
    margin-right: 83px;
    margin-left: 83px;
    padding: 0;
  }

  .intro-text .intro-text-title {
    margin-bottom: 3.4rem;
    margin-top: 0;
  }
  .intro-text .intro-text-desc {
    margin-bottom: 3.2rem;
  }
  .middle-images {
    margin-bottom: 8rem;
    padding: 0 16.5rem;
  }

  .middle-desc .middle-desc-text {
    width: 540px;
    font-size: 1.8rem;
  }
  footer {
    background-position: center top;
  }
  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
  .footer-wrapper .footer-title {
    margin-bottom: 0;
  }
  .footer-wrapper .footer-text {
    margin-bottom: 0;
    max-width: 350px;
  }
  .footer-wrapper .purple-button {
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1110px;
  }
  .footer-wrapper .footer-text {
    margin-left: 125px;
  }
  .footer-wrapper .purple-button {
    margin-left: 92px;
  }
}
