@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap");

/* font-family: 'Red Hat Display', sans-serif; */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}

html {
  font-size: 10px;
}
body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: 500;
  color: rgb(135, 135, 137);
  background-color: #f2f2f2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  color: rgb(40, 40, 61);
}
h2 {
  font-size: 4rem;
  line-height: 4.4rem;
}
.purple-bg-color {
  background-color: #855fb1 !important;
}

.subtitle {
  font-size: 1.6rem;
  color: #4d96a9;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
}
.logo {
  max-width: 119px;
  display: block;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

header {
  padding: 48px 128px 54px;
}
.intro-section {
  width: 100%;
  overflow: hidden;
}
.intro {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  width: 117%;
  left: 50%;
  transform: translateX(-50%);
}

.intro-images {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
}

.intro-images-2 {
  display: flex;
  justify-content: flex-end;
}

.intro-images-part {
  padding-top: 0;
  margin: 0 auto;
}

.intro img {
  width: 100%;
}

.intro-images-part div {
  margin-bottom: 16.6px;
  width: 55.56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-top {
  padding-top: 16.6px;
}

.intro-text {
  text-align: center;
  width: 100%;
  padding: 0 30px;
}
.intro-text .intro-text-title {
  margin-bottom: 2.4rem;
  margin-top: 3.8rem;
}
.intro-text .intro-text-desc {
  font-size: 1.6rem;
  width: 327px;
  margin: 0 auto;
  margin-bottom: 3.2rem;
}

.button {
  color: white;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 900;
  border-radius: 29px;
  cursor: pointer;
}

.download-button {
  padding: 16px 40px;
  background-color: #4d96a9;
  border: 1px solid transparent;
  display: block;
  margin: 0 auto 1.6rem;
}
.download-button:hover {
  background-color: #71c0d4;
}

.download-button span {
  color: #8fe3f9;
}
.question-button {
  background-color: #855fb1;
  border: 1px solid transparent;
  padding: 16px 29px;
  margin-bottom: 15.3rem;
}
.question-button:hover {
  background: #b18bdd;
}

.numberCircle {
  width: 54px;
  height: 54px;
  background-color: transparent;
  margin: 0 auto;
  line-height: 54px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid rgba(135, 135, 157, 25%);
  color: rgb(135, 135, 137);
  position: relative;
  margin-bottom: 6.4rem;
  font-weight: bold;
}

.verticalLine::after {
  content: "";
  display: block;
  width: 1px;
  height: 84px;
  background-color: rgba(135, 135, 157, 25%);
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -68px;
}

/* middle-section */
.middle-images {
  padding: 0 2.2rem;
  margin-bottom: 4.8rem;
}
figure {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 6.4rem;
}
figure img {
  flex: 0 0 calc(50% -2.5rem);
  width: calc(50% - 2.5rem);
  margin-right: 2.4rem;
  margin-bottom: 2.6rem;
  border-radius: 1.5rem;
}

figure img:nth-of-type(2) {
  margin-right: 0;
}
figure img:nth-of-type(3) {
  margin-bottom: 0;
}
figure img:last-of-type {
  margin-right: 0;
  margin-bottom: 0;
}
.middle-desc {
  text-align: center;
  padding: 0 2.4rem 6.4rem;
}
.middle-desc-title {
  font-size: 3.2rem;
  line-height: 3.6rem;
  margin-bottom: 3.2rem;
}
.middle-desc-text {
  margin-bottom: 12rem;
  font-size: 1.6rem;
}

/* footer */

footer {
  background-image: linear-gradient(
      to bottom,
      rgba(77, 150, 168, 0.8),
      rgba(77, 150, 168, 0.8)
    ),
    url("images/mobile/image-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
  text-align: center;
  padding-top: 9.2rem;
  padding-bottom: 7.2rem;
  position: relative;
}
footer .numberCircle {
  position: absolute;
  top: -6%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
}
footer .footer-title {
  font-size: 3.2rem;
  line-height: 3.6rem;
  color: white;
  margin-bottom: 2.4rem;
}
footer .footer-text {
  margin-bottom: 3.2rem;
  padding: 0 30px;
}
footer .purple-button:hover {
  background: #b18bdd !important;
}
footer .purple-button span {
  color: #d9b8ff;
}
